<div class="container text-center">
  <section class="create">
    <h1 class="mt-3"> <span>* 必填欄位 </span> 請修改你的支出 </h1>

    <form action='/records/{{selectedRecord._id}}?_method=PUT' method="POST">
      <ul class="list-group list-group-flush" style="align-items: center;">
        <li class="list-group-item mt-2 w-50">
          <span>名稱* :</span>
          <input type="text" name="name" class="input-name form-control ms-3" placeholder="請輸入名稱" style="display: inline;"
            value='{{selectedRecord.name}}' required>
        </li>

        <li class="list-group-item mt-2 w-50">
          <span>日期* :</span>
          <input type="date" name="date" class="input-data form-control ms-3" style="display: inline;"
            value='{{selectedRecord.date}}'>
        </li>

        <li class="list-group-item mt-2 w-50">
          <span>類別* :</span>
          <select class="form-select w-50 ms-3" name="categoryId" style="display: inline;">
            <option selected value="{{selectedRecord.categoryId}}">{{categoryName}}</option>
            {{#each categories}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
          </select>
        </li>

        <li class="list-group-item mt-2 w-50">
          <span>金額* :</span>
          <input type="number" name="amount" class="input-amount form-control ms-3" style="display: inline;" min="0" 
            value="{{selectedRecord.amount}}">
        </li>

      </ul>
      <a href="/" class="mt-3 btn btn-outline-danger" style="font-size:2rem">取消</a>
      <button type="submit" class="mt-3 btn btn-outline-success" style="font-size:2rem">確認修改</button>
    </form>

  </section>
</div>